<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="LocalCrmContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\localCrmDb.mdf';Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LocalCrm.Properties.Settings.LocalCrmConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\LocalCrm.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LocalCrm.Properties.Settings.LocalCrmConnectionStringReport"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\localCrmDb.mdf';Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LocalCrm.Properties.Settings.RepCon" connectionString="Data Source=IVC_KSV\SQLEXPRESS;Initial Catalog=LocalCrm;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LocalCrm.Properties.Settings.localCrmDbConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Release\localCrmDb.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
